[submodule "external/ThreadPool"]
	path = external/ThreadPool
	url = https://github.com/progschj/ThreadPool.git
[submodule "ThreadPool"]
	path = ThreadPool
	url = https://github.com/progschj/ThreadPool.git
